/**
 * Global front end CSS.
 */

/*===========================================================================================*/
/* Section background */
 .st-bb-section {
    position: relative;
}
img.st-bb-background-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.st-bb-row-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.st-bb-module {
    position: relative;
}

/*===========================================================================================*/
/* BB Rows */

/* Hide BB row setting controls */
.fl-row-overlay i.fa-wrench,
.fl-row-overlay i.fa-bars {
	display: none !important;
}