/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .st-bb-row {
    position: relative;
    height: 100vh;
}
.st-bb-row-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9;
}
.st-bb-row-background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.st-bb-row-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.st_bb_module {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}