/**
 * Global front end CSS.
 */

/*===========================================================================================*/
/* Section background */
 .st-bb-section {
    position: relative;
}
img.st-bb-background-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.st-bb-row-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.st-bb-module-container {
    position: relative;
}

/*===========================================================================================*/
/* Beaver Builder */

/* Hide settings */
.fl-row-overlay i.fa-wrench,
.fl-row-overlay i.fa-bars,
#fl-builder-settings-tab-advanced,
a[href="#fl-builder-settings-tab-advanced"],
#fl-builder-blocks-pro,
.fl-builder--panel-content button.fl-builder-blocks-pro-expand,
.fl-builder--panel-cta {
    display: none !important;
}

/* Make Flex work in Bootstrap when on backend */
.fl-module-content {
    width: 100%;
}