.st-bb-hero-outer {
    position: relative;
    height: 100vh;
}
.st-bb-hero-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9;
}
.st-bb-hero-inner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.st-bb-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}